
	*, *:before, *:after {
	    -webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
	            box-sizing: border-box;
	}

	html,
	body {
		background: #F5F5F5;
		height: 100%;
		min-height: 100%;
		position: relative;
		width: 100%;
	}

	.calculator {
		background: #778899;
		border-radius: 5px;
		box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset, 0 5px 20px rgba(0, 0, 0, 0.3);
		bottom: 0;
		height: 400px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 350px;
	}

	.calculator .container {
		height: 100%;
		padding: 5%;
		position: relative;
		width: 100%;
	}

	.calculator .header,
	.calculator .header:before,
	.calculator .header:after {
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}

	.calculator .header {
		color: rgba(255, 255, 255, 0.8);
		font-family: "Audiowide", sans-serif;
		height: 12px;
		left: 2px;
		letter-spacing: 0.05em;
		margin: 0 1.3% 15px;
		position: relative;
		text-align: right;
		text-transform: uppercase;
		-webkit-transform: skewX(-15deg);
				transform: skewX(-15deg);
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
				user-select: none;
	}

	.calculator .header:before,
	.calculator .header:after {
		content: '';
		display: block;
		height: 1px;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	.calculator .header:before {
		bottom: 3px;
	}

	.calculator .header:after {
		bottom: -5px;
	}

	.calculator .header h1 {
		background: #778899;
		display: inline-block;
		font-size: 12px;
		margin: 0;
		padding: 0 0 0 7px;
		position: relative;
		z-index: 2;
	}

	.calculator .button,
	.calculator .display {
		border: none;
		border-radius: 3px;
		display: block;
		float: left;
		font-family: monospace;
		font-size: 20px;
		margin: 1.3% 1%;
	}

	.calculator .button {
		background: #fff;
		box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
		color: #333;
		height: 12.1%;
		padding: 0;
		position: relative;
		top: 0;
		width: 23%;
	}

	.calculator .button:active,
	.calculator .button.active {
		box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		position: relative;
		top: 2px;
	}

	.calculator .button.operator,
	.calculator .button.equals {
		background-color: #87CEEB;
	}

	.calculator .button.clear,
	.calculator .button.back {
		background-color: #FFD700;
	}

	.calculator .button.wide {
		width: 48%;
	}

	.calculator .button.tall {
		height: 26.5%;
	}

	.calculator .button.right {
		float: right;
	}

	.calculator .display {
		background: #46515B;
		box-shadow: 0 3px 0 rgba(0, 0, 0, 0.15) inset;
		color: #fff;
		font-size: 34px;
		height: 19%;
		padding: 0 4%;
		text-align: right;
		width: 98%;
	}